Source: python-unified-planning-pyperplan
Section: python
Priority: optional
Maintainer: Johannes Rothe <rothe@magazino.eu>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools, python3-all
Standards-Version: 4.4.1
Homepage: https://github.com/aiplan4eu/up-pyperplan
Vcs-Browser: https://github.com/aiplan4eu/up-pyperplan
Vcs-Git: https://github.com/aiplan4eu/up-pyperplan.git

Package: python3-unified-planning-pyperplan
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-pyperplan (>= 2.1)
Description: Integration of Pyperplan with the Unified Planning Library (Python 3)
 This is the integrator for the pyperplan planning system, a classical
 planner based on different search heuristics.
 Pyperplan supports action based problems with hierarchical typing.
 .
 This package installs the library for Python 3.
